body {
  background-color: #373A3C; 
}

.card, .card-body, th, tr {
    background-color: #373A3C;
    color: whitesmoke;
    border: none;
}

#map-container {
  height: 480px;;
}

#map {
  bottom: 0;
  position: absolute;
  top: 0;
  width: 100%;
}