body {
  background-color: #373A3C; 
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card, .card-body, th, tr {
    background-color: #373A3C;
    color: whitesmoke;
    border: none;
}

#map {
  bottom: 0;
  position: absolute;
  top: 0;
  width: 100%;
}